/*-----------------  GOOGLE FONTS  -----------------*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/*-----------------  VARIABLES  -----------------*/
:root {
  /* Colors */ 
  --white_color : rgb(255, 255, 255);
  --gold_color: rgb(255, 215, 0);
  --green_color: rgb(45, 252, 26);
  --body_background: linear-gradient(to right, #141e30, #243b55);
  --spin_background: linear-gradient(to right, #fc4a1a, #f7b733);
  --spin_background2: linear-gradient(to right, #701800, #634200);
}

/*-----------------  Base  -----------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-stretch: expanded;
}

body {
  height: 100vh;
  background-image: url("Image/bg-black.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*-----------------  Styling Start  -----------------*/
h1 {
  position: absolute;
  font-size: 4rem;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--gold_color);
}

.container {
  width: 90%;
  max-width: 34.37rem;
  margin-top: 3rem;
  max-height: 90vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3rem; 
  border-radius: 1rem;
}

.wheel_box {
  position: relative;
  width: 100%;
  height: 100%;
  border: 10px solid var(--gold_color);
  border-radius: 50%;
  overflow: hidden;
  animation: blinkLight 1s infinite;
}

/* @keyframes blinkLight {
  0% {
    box-shadow: 0 0 20px var(--gold_color), 0 0 40px var(--gold_color);
  }
  50% {
    box-shadow: 0 0 40px var(--gold_color), 0 0 80px var(--gold_color);
  }
  100% {
    box-shadow: 0 0 20px var(--gold_color), 0 0 40px var(--gold_color);
  }
} */

@keyframes blinkLight {
  0% {
    box-shadow: 0 0 20px var(--gold_color), 0 0 40px var(--gold_color);
  }
  50% {
    box-shadow: 0 0 40px var(--gold_color), 0 0 80px var(--gold_color);
  }
  100% {
    box-shadow: 0 0 20px var(--gold_color), 0 0 40px var(--gold_color);
  }
}

#spinWheel {
  max-height: inherit;
  width: inherit;
  transform: rotate(270deg);
}

#spin_btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 26%;
  width: 26%;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background: var(--spin_background);
  color: var(--white_color);
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.fa-solid {
  position: absolute;
  top: -8%;
  left: 43.7%;
  font-size: 4rem;
  color: var(--green_color);
  transform: rotate(-225deg);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  background: linear-gradient(to bottom, var(--gold_color) 0%, var(--gold_color) 50%, transparent 50%, transparent 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#text {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.5rem;
  color: var(--gold_color);
  font-weight: 500;
}

/*-----------------  Mobile Styles  -----------------*/
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .container {
    padding: 2rem;
  }

  .fa-solid {
    font-size: 3rem;
  }

  #text {
    font-size: 1.2rem;
  }
}


/* --- */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #f39c12;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  animation: fadeIn 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  text-align: center; /* Add this line */
}


.popup.show {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 0.3s ease-in-out, scaleIn 0.3s ease-in-out;
}

.popup-button {
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Roboto', sans-serif; /* Replace with your desired font */
  font-size: 16px; /* Adjust the font size as needed */
  margin-top: 10px;
}

.popup-button:hover {
  background-color: #ffa500;
  transform: scale(1.05);
}

.popup-button:active {
  background-color: #ff9900;
  transform: scale(0.95);
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.header {
  background-color: black;
  text-align: center;
}

.header img {
  width: 100px; /* Adjust the width as needed */
}


